<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Finder</title>
</head>
<body>
  <h1>Recipe Finder</h1>
  <form action="/search" method="post">
    <label for="query">Search for recipes:</label>
    <input type="text" id="query" name="query"><br>
    <label for="cuisine">Cuisine:</label>
    <input type="text" id="cuisine" name="cuisine"><br>
    <label for="diet">Diet:</label>
    <input type="text" id="diet" name="diet"><br>
    <label for="include_ingredients">Include Ingredients:</label>
    <input type="text" id="include_ingredients" name="include_ingredients"><br>
    <label for="exclude_ingredients">Exclude Ingredients:</label>
    <input type="text" id="exclude_ingredients" name="exclude_ingredients"><br>
    <label for="type">Type:</label>
    <input type="text" id="type" name="type"><br>
    <label for="instructions_required">Instructions Required:</label>
    <input type="checkbox" id="instructions_required" name="instructions_required" value="true"><br>
    <label for="fill_ingredients">Fill Ingredients:</label>
    <input type="checkbox" id="fill_ingredients" name="fill_ingredients" value="true"><br>
    <label for="add_recipe_information">Add Recipe Information:</label>
    <input type="checkbox" id="add_recipe_information" name="add_recipe_information" value="true"><br>
    <label for="add_recipe_nutrition">Add Recipe Nutrition:</label>
    <input type="checkbox" id="add_recipe_nutrition" name="add_recipe_nutrition" value="true"><br>
    <button type="submit">Search</button>
  </form>
</body>
</html>
